@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привет</h1>
    <p>Приглашаю на тренировки <a href="https://www.facebook.com/WladyslawKuzmenka">FaceBook</a>.</p>
</div>
