@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Привет</h1>
    <p>Меня зовут Влад, я с Беларуси, мне 30 лет. С 10 лет играю в теннис и провожу индивидуальные занятия уже больше года. Занимаюсь с детьми от 12 лет. Занятия могут быть в группе.</p>
    <p>Приглашаю вас присоединиться к моим тренировкам и открыть для себя увлекательный мир тенниса, который принесет вам радость, здоровье и новые достижения!</p>

    <p>Большой теннис - это не только увлекательная игра, но и отличная физическая активность, которая приносит множество пользы. Во-первых, игра в теннис развивает координацию, гибкость и выносливость. Вы будете улучшать свои рефлексы, ритм и скорость, что поможет вам стать более гибким и реактивным на корте.</p>
    <p>Во-вторых, большой теннис - это отличный способ улучшить свое здоровье. Игра на открытом воздухе обеспечивает физическую активность, которая способствует укреплению сердечно-сосудистой системы, улучшению общей физической формы и снижению уровня стресса. Кроме того, теннис помогает сжигать калории и контролировать вес.</p>
    <p>В-третьих, большой теннис - это социальная игра, которая помогает развить командный дух и налаживать новые связи. Вы сможете встретить единомышленников, найти новых друзей и насладиться игрой в приятной атмосфере. Теннис также учит дисциплине, упорству и стремлению к достижению лучших результатов.</p>
    <p>Не упускайте возможность получить все эти преимущества большого тенниса. Присоединяйтесь к моим тренировкам и откройте для себя увлекательный мир тенниса, который принесет вам радость, здоровье и новые достижения!</p>
</div>
